  <button class="media-controls"
          mat-icon-button
          matTooltip="Play"
          [matTooltipShowDelay]="500"
          (click)="play(trackId)">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button class="media-controls"
          mat-icon-button
          matTooltip="Enqueue"
          [matTooltipShowDelay]="500"
          (click)="enqueue(trackId)">
    <mat-icon>add</mat-icon>
  </button>
  <button class="media-controls-primary"
          mat-icon-button
          matTooltip="Add to active playlist"
          [matTooltipShowDelay]="500"
          [disabled]="playlistService.activeEditorPlaylist == null"
          (click)="addToPlaylistEditor(trackId)">

    <mat-icon>playlist_add</mat-icon>
  </button>
  <button class="media-controls-secondary"
          mat-icon-button
          matTooltip="Add to playlist ..."
          [matTooltipShowDelay]="500"
          [matMenuTriggerFor]="menu">
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <cdk-virtual-scroll-viewport class="playlist-selection" itemSize="40">
      <div *cdkVirtualFor="let playlist of playlists">
        <button mat-menu-item (click)="addToPlaylist(playlist.id)">{{playlist.name}}</button>
      </div>
    </cdk-virtual-scroll-viewport>
</mat-menu>
