<app-collection-container (filter)="applyFilter($event)" [search]="true" (window:resize)="onResize()">
  <div header>
    <mat-toolbar><p>Artists</p></mat-toolbar>
    <mat-paginator [pageSize]="20"></mat-paginator>
  </div>
    <table table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let row">{{row.name}}</td>
      </ng-container>

      <ng-container matColumnDef="track-count">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tracks</th>
        <td mat-cell *matCellDef="let row">{{row.trackCount}}</td>
      </ng-container>

      <ng-container matColumnDef="last-modified">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Modified</th>
        <td mat-cell *matCellDef="let row">{{row.lastModifiedDate}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/artists/{{row.id}}"></tr>
    </table>
</app-collection-container>
