  <div table class="container">
    <h1>Welcome!</h1>
    <div class="content-container">
      <div class="content-column" *ngIf="releasesLoaded | async; else releaseNotFound">
        <mat-toolbar>Random Album
          <span class="spacer"></span>
          <button mat-icon-button (click)="randomizeRelease()">
            <mat-icon class="randomize-icon">refresh</mat-icon>
          </button>
        </mat-toolbar>
        <app-release-card [release]="releases[0]" [tracksDisabled]="true" routerLink="/releases/{{releases[0].id}}"></app-release-card>
      </div>
      <ng-template #releaseNotFound>
        <div>
          <p>No Release has been found in database!</p>
        </div>
      </ng-template>
    </div>

  <div class="content-container">
    <div class="content-column" *ngIf="tracksLoaded | async; else tracksNotFound">
      <mat-toolbar>Random Tracks
        <span class="spacer"></span>
        <button mat-icon-button (click)="randomizeTracks()">
          <mat-icon class="randomize-icon">refresh</mat-icon>
        </button></mat-toolbar>
      <app-track *ngFor="let track of tracks" [track]="track" (play)="playTrack(track.id)"></app-track>
    </div>
    <ng-template #tracksNotFound>
      <div>
        <p>No Track has been found in database!</p>
      </div>
    </ng-template>
  </div>

    <div class="content-container">
      <div class="content-column" *ngIf="artistsLoaded | async; else artistsNotFound">
        <mat-toolbar>Random Artist
          <span class="spacer"></span>
          <button mat-icon-button (click)="randomizeArtists()">
            <mat-icon class="randomize-icon">refresh</mat-icon>
          </button></mat-toolbar>
        <mat-card class="artist-card" *ngFor="let artist of artists" routerLink="/artists/{{artist.id}}">
          <mat-card-header>
            <mat-card-title>
            {{artist.name}}
            </mat-card-title>
            <mat-card-subtitle>
              Track Count: {{artist.trackCount}}
            </mat-card-subtitle>
          </mat-card-header>
        </mat-card>
      </div>
      <ng-template #artistsNotFound>
        <div>
          <p>No Artist has been found in database!</p>
        </div>
      </ng-template>
    </div>
  </div>
