@import "../../../styles";
.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.content-container {
  float: left;
  margin: $default-gutter $default-gutter 0 0;
}
.container {
  padding: $default-gutter
}
.artist-card:hover, app-release-card:hover {
  cursor: pointer;
}
.content-column > mat-toolbar {
  margin-bottom: 20px;
}
.randomize-icon {
  padding: 0 14px;
}
