@import '../../../styles';

table {
  width: 100%;
}
.progress {
  margin: 12px auto;
  width: calc(100% - 24px)
}
mat-progress-bar{
  height: 12px
}
.page-container {
  padding: $default-gutter $default-gutter 0 $default-gutter;
}
.grid-content {
  height: 100%;
  width: 100%;
}
