<div class="page-container" (window:resize)="onResize()">
  <mat-grid-list gutterSize="24px" cols="12" rowHeight="80px">
    <mat-grid-tile [colspan]="4">
      <div class="grid-content" *ngIf="search">
        <mat-form-field fxFlex="1 1 calc(33%)" appearance="outline">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search ...">
          <span matSuffix><mat-icon>search</mat-icon></span>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1"></mat-grid-tile>
    <mat-grid-tile [colspan]="7">
      <div class="grid-content">
        <ng-content  select="[actions]"></ng-content>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
  <ng-content select="[header]"></ng-content>
  <cdk-virtual-scroll-viewport (scrolledIndexChange)="handleScroll()" id="scroll-viewport" itemSize="50">
    <ng-content select="[table]"></ng-content>
  </cdk-virtual-scroll-viewport>
</div>
