<app-collection-container (filter)="applyFilter($event)" [search]="true">
  <div header>
    <mat-toolbar><p>Releases</p></mat-toolbar>
    <mat-paginator [pageSize]="20"></mat-paginator>
  </div>
  <div actions>
    <mat-button-toggle-group #styleSelect="matButtonToggleGroup" name="Display Style" aria-label="Display Style">
      <mat-button-toggle value="list" checked><mat-icon>view_headline</mat-icon></mat-button-toggle>
      <mat-button-toggle value="cards"><mat-icon>view_module</mat-icon></mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div table>
    <div *ngIf="styleSelect.value == 'cards'">
      <div id="release-list">
        <app-release-card *ngFor="let release of releases" [release]="release"></app-release-card>
      </div>
    </div>
    <div *ngIf="styleSelect.value == 'list'">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let row">{{row.title}}</td>
        </ng-container>

        <ng-container matColumnDef="artists">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Artist</th>
          <td mat-cell *matCellDef="let row"><app-artist-link [artists]="row.artists"></app-artist-link></td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
          <td mat-cell *matCellDef="let row">{{row.createdDate}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" routerLink="/releases/{{row.id}}"></tr>
      </table>
    </div>
  </div>
</app-collection-container>
