@import "../collection-container/collection-container.component";
app-release {
  min-width: 400px;
  max-width: 500px;
}
mat-button-toggle-group {
  margin-top: 4px;
}
app-release-card {
  float: left;
  margin: $default-gutter $default-gutter 0 0;
}
