@import '../../../styles';

table {
  width: 100%;
  padding: 12px;
}
mat-card {
  margin-bottom: 6px;
  border-radius: 0;
}
#right-pane {
  padding-left: $default-gutter;
}
mat-form-field {
  width: 100%;
}
