<app-collection-container (filter)="applyFilter($event)" [search]="true" (window:resize)="onResize()">
  <div actions>
    <button mat-raised-button (click)="addPlaylist()"><mat-icon>add</mat-icon>new Playlist</button>
  </div>
  <div table>
    <div fxLayout="row">
      <div fxFlex="1 1 calc(33%)" id="left-pane">
        <mat-toolbar>
          Playlists
        </mat-toolbar>
        <cdk-virtual-scroll-viewport id="playlist-scroll-viewport" itemSize="50">
          <p *ngIf="playlists.length == 0; else playlistTable">{{nothingToShowText}}</p>
          <ng-template #playlistTable>
            <table mat-table [dataSource]="playlists" matSort>
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
                <td mat-cell *matCellDef="let row">
                  <div>{{row.name}}</div>
                </td>
              </ng-container>
              <ng-container matColumnDef="number-of-tracks">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Track Count</th>
                <td mat-cell *matCellDef="let row"></td>
              </ng-container>
              <ng-container matColumnDef="created-date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
                <td mat-cell *matCellDef="let row">{{row.createdDate}}</td>
              </ng-container>
              <ng-container matColumnDef="controls">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
                <td mat-cell *matCellDef="let row"><app-playlist-actions [playlist]="row"></app-playlist-actions></td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="playlistColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: playlistColumns;" (click)="selectPlaylist(row)"></tr>
            </table>
          </ng-template>
      </cdk-virtual-scroll-viewport>
      </div>
      <div fxFlex="1 1 calc(66%)" id="right-pane">
        <mat-toolbar *ngIf="selectedPlaylist; else noSelection">
            <mat-form-field *ngIf="edit; else readonly">
              <input matInput #input [(ngModel)]="selectedPlaylist.name" [readonly]="!edit" (blur)="save()">
            </mat-form-field>
          <button mat-icon-button (click)="toggleEdit(); input.focus()"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button (click)="delete()"><mat-icon>delete</mat-icon></button>
          <app-playlist-actions [playlist]="selectedPlaylist"></app-playlist-actions>
          <ng-template #readonly>
            <div style="width: 100%">{{selectedPlaylist.name}}</div>
          </ng-template>
        </mat-toolbar>
        <ng-template #noSelection>
          <mat-toolbar>
            Select a playlist ...
          </mat-toolbar>
        </ng-template>
        <cdk-virtual-scroll-viewport id="tracklist-scroll-viewport" itemSize="50">
        <div *ngIf="selectedPlaylist">
          <table mat-table [dataSource]="selectedPlaylist.tracks" matSort>

            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
              <td mat-cell *matCellDef="let row">{{row.title}}</td>
            </ng-container>

            <ng-container matColumnDef="artists">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Artist</th>
              <td mat-cell *matCellDef="let row"><app-artist-link [artists]="row.artists"></app-artist-link></td>
            </ng-container>

            <ng-container matColumnDef="release">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Album</th>
              <td mat-cell *matCellDef="let row">{{row.release.title}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="tracklistColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: tracklistColumns;"></tr>
          </table>
        </div>
        </cdk-virtual-scroll-viewport>
      </div>
    </div>
  </div>
</app-collection-container>
