<mat-toolbar>
<button mat-icon-button (click)="togglePlayPause()"><mat-icon *ngIf="player?.paused; else paused">play_arrow</mat-icon></button>
<ng-template #paused><mat-icon>pause</mat-icon></ng-template>
<button mat-icon-button (click)="stop()"><mat-icon>stop</mat-icon></button>
<button mat-icon-button (click)="previous()" [disabled]="player?.index <= 0"><mat-icon>skip_previous</mat-icon></button>
<button mat-icon-button (click)="next()" [disabled]="player?.index >= tracks?.length-1"><mat-icon>skip_next</mat-icon></button>
</mat-toolbar>
<!--
<mat-menu #playlistSelection="matMenu" xPosition="before" overlapTrigger>,

  <button mat-menu-item *ngFor="let playlist of playlists" (click)="activatePlaylist(playlist)">{{playlist.name}}</button>
</mat-menu>
-->
<mat-tab-group mat-stretch-tabs (selectedIndexChange)="tabSwitch()" [selectedIndex]=1>
  <mat-tab label="{{playlistEditorTitle}}" [disabled]="playlistService.activeEditorPlaylist == null">
    <cdk-virtual-scroll-viewport id="playlist-editor-scroll-viewport" itemSize="50" (window:resize)="onResize()" cdkDropList (cdkDropListDropped)="move($event, playlistService.activeEditorPlaylist)">
      <div *ngFor="let track of playlistEditorTracks" cdkDrag>
        <app-track
          [track]="track"
          (play)="startPlaylist(playlistService.activeEditorPlaylist, playlistEditorTracks.indexOf(track))">
        </app-track>
      </div>
    </cdk-virtual-scroll-viewport>
  </mat-tab>
  <mat-tab label="Player">
    <cdk-virtual-scroll-viewport id="player-scroll-viewport" itemSize="50" (window:resize)="onResize()" cdkDropList (cdkDropListDropped)="move($event)">
       <div *ngFor="let track of tracks" cdkDrag>
          <app-track
            [active]="player?.index == tracks?.indexOf(track)"
            [track]="track" [paused]="player.paused"
            (pause)="togglePlayPause($event)"
            (play)="play(tracks?.indexOf(track))">
          </app-track>
       </div>
    </cdk-virtual-scroll-viewport>
  </mat-tab>
</mat-tab-group>

