<app-collection-container (loadMore)="handleScroll()" (filter)="setFilter($event)" [search]="true">

  <div header>
    <mat-paginator [pageSize]="20"></mat-paginator>
    <mat-toolbar><p>Tracks</p></mat-toolbar>
  </div>
  <div table>
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row"><app-track-actions [trackId]="row.id"></app-track-actions></td>
        </ng-container>

        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
          <td mat-cell *matCellDef="let row">{{row.title}}</td>
        </ng-container>

        <ng-container matColumnDef="artists">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Artist</th>
          <td mat-cell *matCellDef="let row"><app-artist-link [artists]="row.artists"></app-artist-link></td>
        </ng-container>

        <ng-container matColumnDef="release">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Album</th>
          <td mat-cell *matCellDef="let row">{{row.release.title}}</td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
          <td mat-cell *matCellDef="let row">{{row.duration}}</td>
        </ng-container>

        <ng-container matColumnDef="playCount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Play Count</th>
          <td mat-cell *matCellDef="let row">{{row.playCount}}</td>
        </ng-container>

        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
          <td mat-cell *matCellDef="let row">{{row.createdDate}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <div *ngIf="loading" class="progress">
        <mat-progress-bar mode="query"></mat-progress-bar>
      </div>
  </div>
</app-collection-container>
