<div *ngIf="loaded | async" id="container">
  <mat-toolbar> {{title}}</mat-toolbar>
  <div><p>Track Count: {{artist.trackCount}}<p></div>
  <app-release-card *ngFor="let release of releases" [release]="release"></app-release-card>
</div>
