@import "../../../styles";

#container {
  padding: $default-gutter;
}
mat-toolbar {
  margin-bottom: $default-gutter;
}
app-release-card {
  float: left;
  margin: $default-gutter $default-gutter 0 0;
}
