img {
  height: 280px;
}
.hidden {
  z-index: 1;
  position: absolute;
}
mat-card {
  float: left;
  width: 256px;
  height: 456px;
}
#info {
  z-index: 2;
}
cdk-virtual-scroll-viewport {
  height: 456px;
}
