<div id="card-container">

  <mat-card id="info">
      <mat-card-header>
        <mat-card-title>{{release.title}}</mat-card-title>
      <mat-card-subtitle>
        <app-artist-link [artists]="release.artists"></app-artist-link>
      </mat-card-subtitle>
      </mat-card-header>
    <img mat-card-image *ngIf="!release.coverArt" [src]="'../../../assets/no-cover.png'" alt="no placeholder image found">
    <img mat-card-image class="cover-image" [src]="'data:image/png;base64,' + release.coverArt" alt="cover art not found">
    <app-release-actions [release]="release"></app-release-actions>
    <mat-action-list *ngIf="!tracksDisabled">
      <button mat-list-item (click)="toggleTracks()">Tracks</button>
    </mat-action-list>
  </mat-card>
  <mat-card id="track-list" *ngIf="loaded | async" [ngClass]="{'hidden': !extracted}">
    <cdk-virtual-scroll-viewport itemSize="50px">
    <mat-action-list>
      <button mat-list-item *ngFor="let track of release.tracks" [mat-menu-trigger-for]="actions">
        {{release.tracks.indexOf(track)+1}}.
        {{track.title}}
        <mat-menu #actions="matMenu">
          <app-track-actions [trackId]="track.id"></app-track-actions>
        </mat-menu>
      </button>
    </mat-action-list>
    </cdk-virtual-scroll-viewport>
  </mat-card>
</div>
