<mat-sidenav-container class="sidenav-container">
  <mat-sidenav id="main-nav" #drawer class="sidenav" fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)"
               [disableClose]="!(isHandset$ | async)">
    <mat-toolbar>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" routerLink="">Dashboard</a>
      <a mat-list-item href="#" routerLink="tracks">Tracks</a>
      <a mat-list-item href="#" routerLink="artists">Artists</a>
      <a mat-list-item href="#" routerLink="releases">Releases</a>
      <a mat-list-item href="#" routerLink="playlists">Playlists</a>
      <button id="settings-button" mat-icon-button [mat-menu-trigger-for]="settings"><mat-icon>settings</mat-icon></button>
      <mat-menu #settings="matMenu">
        <div class="menu-content">
        <mat-form-field>
          <input (click)="$event.stopPropagation()" matInput placeholder="API Address" appearance="outline" [formControl]="apiAddress" required>
          <mat-error *ngIf="apiAddress.errors">
            URI must not be empty
          </mat-error>
        </mat-form-field>
        <button mat-icon-button [disabled]="apiAddress.invalid" (click)="changeApiAddress()"><mat-icon>save</mat-icon></button>
        </div>
      </mat-menu>
      <app-upload></app-upload>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>azurite</span>
      <span class="spacer"></span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="playlist.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">playlist_play</mat-icon>
      </button>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav id="player-nav" #playlist opened position="end" fixedInViewport="true"
                   [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                   [mode]="(isHandset$ | async) ? 'over' : 'side'"
                   [opened]="!(isHandset$ | async)"
                   [disableClose]="!(isHandset$ | async)">
        <app-player></app-player>
      </mat-sidenav>
      <router-outlet></router-outlet>
    </mat-sidenav-container>


    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>

