.sidenav-container {
  height: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
#player-nav {
  width: 320px;
}
#main-nav {
  min-width: 142px;
}
#settings-button {
  margin: 12px 0 0 12px;
}
.menu-content {
  margin: 12px;
}
