<button [disabled]="playlist.tracks.length == 0" class="media-controls"
        mat-icon-button
        matTooltip="Play"
        [matTooltipShowDelay]="500"
        (click)="play()">
  <mat-icon>play_arrow</mat-icon>
</button>
<!--
<button class="media-controls"
        mat-icon-button
        matTooltip="Enqueue"
        [matTooltipShowDelay]="500"
        (click)="enqueue()">
  <mat-icon>add</mat-icon>
</button>
-->
<button class="media-controls"
        mat-icon-button
        matTooltip="Send to the playlist editor"
        [matTooltipShowDelay]="500"
        (click)="sendToPlaylistEditor()">

  <mat-icon>playlist_play</mat-icon>
</button>

