/* You can add global styles to this file, and also import other style files */
$cover-image-size: 220px;
$default-gutter: 24px;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.cover-image {
  height: $cover-image-size;
  width: $cover-image-size;
}
#mat-tab-label-0-0 {
  padding: 0 10px;
  min-width: 0;
}
%media-button {
  border-radius: 0!important;
  background: rgba(255,255,255,0.1);
}
.media-controls{
  @extend %media-button;
  margin-right: 5px!important;
}
.media-controls-primary {
  @extend %media-button;
  margin-right: 1px!important;
}
.media-controls-secondary {
  @extend %media-button;
  margin-right: 5px!important;
  width: 24px!important;
}
.spacer {
  flex: 1 1 auto;
}
mat-paginator {
  display: none!important;
}
