<mat-card>
  <mat-card-header>
    <button *ngIf="active; else notPlaying" mat-icon-button mat-card-avatar color="primary" (click)="togglePause()">
      <mat-icon *ngIf="paused; else notPaused">paused</mat-icon><ng-template #notPaused><mat-icon>play_arrow</mat-icon></ng-template>
    </button>
    <ng-template #notPlaying>
      <button mat-icon-button mat-card-avatar (click)="playTrack()"><mat-icon>play_arrow</mat-icon></button>
    </ng-template>
    <mat-card-title>{{track.title}}</mat-card-title>
    <mat-card-subtitle><div *ngFor="let artist of track.artists">{{artist.name}}</div></mat-card-subtitle>
  </mat-card-header>
</mat-card>
