$fade: rgba(255,255,255, 0.2);

input {
  visibility: hidden;
  width: 0;
}
#frame {
  position: absolute;
  bottom: 8px;
  margin: 8px;
  border-color: $fade;
  border-style: dashed;
  border-radius: 10px;
  width: 120px;
  text-align: center;
}
mat-icon {
  color: $fade;
  font-size: 60px;
  height: 72px;
  width: 72px;
}
p {
  color: $fade;
}
label:hover {
  cursor: pointer;
}
button {
  margin: 8px 0 7px 0;
}
