<label for="file-input"><div id="frame" appUpload (files)="uploadDrop($event)" >
    <button mat-raised-button *ngIf="files; else noSelection" (click)="uploadSelection()">start upload</button>
    <mat-icon>publish</mat-icon>
    <input id="file-input" multiple type="file" (change)="changeFile($event)">
</div></label>
<ng-template #noSelection>
  <p>Upload Files</p>
</ng-template>
